.section
	&__button
		background-color blue
		color white
		padding 10px
		cursor pointer
		text-decoration none
		font-size 14px
		display inline-block

		&--danger
			background-color red
	
	&__body
		margin-top 20px
