div.section
	div.header
		button
			background-color blue
			color white
			padding 10px
			cursor pointer
			text-decoration none
			font-size 14px
			display inline-block

		button.danger
			background-color red
	
	div.body
		margin-top 20px
