div.section
	button
		background-color blue
		color white
		padding 10px
		cursor pointer
		text-decoration none
		font-size 14px
		display inline-block

	button.danger
		background-color red
	
	button.warning
		background-color #d17600
	
	div.body
		margin-top 20px
